<%- include('./partials/header.ejs') %>

		<div class="h-[35vh]" style="background: url('./img/aboutUsHero.png')">
			<div
				class="container flex flex-col items-center justify-center h-full mx-auto text-white gap-y-5"
			>
				<h2 class="text-5xl font-bold">About Us</h2>
				<div class="text-sm breadcrumbs">
					<ul>
						<li><a href="/">Home</a></li>
						<li class="font-medium">About Us</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- Why choose us section -->
		<div
			class="container flex flex-col px-5 mx-auto mt-20 gap-y-10 lg:px-0 lg:flex-row"
		>
			<div class="lg:w-1/2">
				<img src="./img/aboutUs-pic1.png" alt="" />
			</div>
			<div class="flex flex-col lg:w-1/2 gap-y-10">
				<div class="flex flex-col">
					<p class="font-medium uppercase text-accent">why choose us</p>
					<p class="text-5xl font-bold text-primary">
						Winning the clients' trust & satisfiction are our first motto
					</p>
				</div>
				<!-- <p class="text-primary">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae
					metus a massa lobortis sollicitudin. Cras ut nulla quam. Maecenas
					tempus felis quis lorem malesuada vehicular.
				</p> -->
				<div class="flex flex-col gap-y-5">
					<p class="text-2xl font-semibold">Our skills</p>
					<div class="flex flex-col gap-y-10">
						<div class="flex flex-col gap-y-3">
							<p>Import</p>
							<div class="w-full relative h-3 border rounded-lg bg-[#d9d9d9]">
								<span
									class="absolute rounded-lg top-0 left-0 h-full w-[<%= basicInfo[0].importRate %>%] bg-accent"
								></span>
								<span class="absolute top-[-300%] left-[95%]"><%= basicInfo[0].importRate %></span>
							</div>
						</div>

						<div class="flex flex-col gap-y-3">
							<p>Export</p>
							<div class="w-full relative h-3 border rounded-lg bg-[#d9d9d9]">
								<span
									class="absolute rounded-lg top-0 left-0 h-full w-full bg-accent"
								></span>
								<span class="absolute top-[-300%] left-[95%]"><%= basicInfo[0].exportRate %></span>
							</div>
						</div>

						<div class="flex flex-col gap-y-3">
							<p>Production</p>
							<div class="w-full relative h-3 border rounded-lg bg-[#d9d9d9]">
								<span
									class="absolute rounded-lg top-0 left-0 h-full w-full bg-accent"
								></span>
								<span class="absolute top-[-300%] left-[95%]"><%= basicInfo[0].productionRate %></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- what we offer section -->
		<div class="container flex px-5 mx-auto lg:px-0 mt-36">
			<div class="flex flex-col lg:w-1/2 gap-y-10">
				<div class="flex flex-col">
					<p class="font-medium uppercase text-accent">Countries we export</p>
					<p class="text-6xl font-bold text-secondary">
						We export worldwide
					</p>
				</div>
				<!-- <p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae
					metus a massa lobortis sollicitudin. Cras ut nulla quam. Maecenas
					tempus felis quis lorem malesuada vehicular.
				</p> -->
			</div>
			<div class="w-1/2"><img src="./img/aboutUs-pic2.png" alt="" /></div>
		</div>

		<!-- country section -->
		<div class="container grid grid-cols-2 px-5 mx-auto mt-20 gap-y-10 lg:gap-y-0 lg:px-0 lg:grid-cols-5">
			<% for(let country of countries){ %>
			  <div style="margin-bottom: 8px;">
				<img src="<%= country.image %>" alt="<%= country.name %>" srcset="" />
			  </div>
			<% } %>
		  </div>
		  

		<!-- A perfect business solution section -->
		<div
			class="container flex flex-col items-center px-5 mx-auto lg:px-0 gap-y-20 mt-36"
		>
			<div class="flex flex-col text-center">
				<p class="font-medium uppercase text-accent">Our Capablities</p>
				<p class="text-6xl font-bold text-primary">
					A perfect business solution
				</p>
			</div>
			<div class="grid lg:grid-cols-4 gap-y-10">
				<div
					class="flex flex-col items-center px-10 text-center border-r gap-y-5"
				>
					<p
						class="text-[transparent] text-6xl font-bold bg-clip-text bg-gradient"
					>
					<%= basicInfo[0].employeesCount %>
					</p>
					<p>Employees with over 20 years of experience</p>
				</div>

				<div
					class="flex flex-col items-center px-10 text-center border-r gap-y-5"
				>
					<p
						class="text-[transparent] text-6xl font-bold bg-clip-text bg-gradient"
					>
					<!--<%= basicInfo[0].officeCount %>--> 24
					</p>
					<p>production hours everyday</p>
				</div>

				<div
					class="flex flex-col items-center px-10 text-center border-r gap-y-5"
				>
					<p
						class="text-[transparent] text-6xl font-bold bg-clip-text bg-gradient"
					>
					<%= basicInfo[0].projectCount %>
					</p>
					<p class="w-3/4">total number of export projects have been completed in 12 years</p>
				</div>

				<div class="flex flex-col items-center px-10 text-center gap-y-5">
					<p
						class="text-[transparent] text-6xl font-bold bg-clip-text bg-gradient"
					>
					<!--<%= basicInfo[0].customerCount %>--> 600
					<p class="lg:w-1/2">Metric ton delivery capacity in a month</p>
				</div>
			</div>
		</div>

		<!-- GREAT REVIEWS FOR OUR SERVICES section -->
		<!--<div class="flex flex-col gap-y-10 mt-36 lg:flex-row">-->
		<!--	<div class="hidden lg:block lg:w-1/2">-->
		<!--		<img src="./img/aboutUs-pic3.png" alt="" />-->
		<!--	</div>-->
		<!--	<div-->
		<!--		class="flex flex-col items-center px-5 text-center lg:px-0 lg:w-1/2 gap-y-16"-->
		<!--	>-->
		<!--		<div class="flex flex-col items-center text-center">-->
		<!--			<p class="font-medium uppercase text-accent">-->
		<!--				great reviews for our services-->
		<!--			</p>-->
		<!--			<p-->
		<!--				class="font-bold lg:w-3/4 text-5xl leading-tight text-[transparent] bg-clip-text bg-gradient"-->
		<!--			>-->
		<!--				Trusted by some biggest names-->
		<!--			</p>-->
		<!--		</div>-->
		<!--		<div class="flex flex-col items-center text-center lg:w-1/2 gap-y-10">-->
		<!--			<p class="italic text-primary">-->
		<!--				Phasellus ultrices ut tortor at porta. Praesent maximus, lacus sed-->
		<!--				rutrum aliquet, lacus tellus tincidunt nisl, vitae molestie nisi-->
		<!--				sapien et dolor suspendisse mi est-->
		<!--			</p>-->
		<!--			<div class="flex flex-col gap-y-4">-->
		<!--				<p class="flex text-transparent gap-x-2 bg-clip-text bg-gradient">-->
		<!--					<i class="bi bi-star-fill"></i>-->
		<!--					<i class="bi bi-star-fill"></i>-->
		<!--					<i class="bi bi-star-fill"></i>-->
		<!--					<i class="bi bi-star-fill"></i>-->
		<!--					<i class="bi bi-star-fill"></i>-->
		<!--				</p>-->
		<!--				<p-->
		<!--					class="flex flex-col font-medium text-transparent bg-clip-text bg-gradient"-->
		<!--				>-->
		<!--					Alice Guzman-->
		<!--					<span class="text-[#9C9EA6] font-normal">HSBC Bank</span>-->
		<!--				</p>-->
		<!--			</div>-->
		<!--		</div>-->
		<!--	</div>-->
		<!--</div>-->


<!-- trust us section -->
		<div class="container flex flex-col px-5 mt-36 lg:px-0">
			<div class="flex flex-col items-center">
				<p class="font-medium uppercase text-accent"></p>
				<p class="text-5xl font-bold text-primary">Certification</p>
			</div>
			<div class="grid mt-20 lg:grid-cols-2 gap-x-32 lg:gap-y-20 gap-y-7">
				<% for(let certification of certifications){ %>
				<div class=""><img src="<%= certification.image %>" alt="" /></div>
				<% } %>
			</div>
		</div>
		
		<br> <br>
		
		<div class="flex flex-col items-center">
			<p class="font-medium uppercase text-accent">		<a style="text-align: center;" href="https://info.flagcounter.com/YJNC"><img src="https://s11.flagcounter.com/count2/YJNC/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_0/pageviews_0/flags_0/percent_0/" alt="Flag Counter" ></a>
			</p>
			
		</div>

		<!-- request a callback section -->
		<div
			class="flex items-center py-10 mt-36 min-h-max"
			style="background: url('./img/aboutUs-pic4.png'); background-size: cover"
		>
			<div
				class="container flex flex-col items-center py-10 lg:border gap-y-10 bg-base-100 lg:p-16"
			>
				<div class="flex flex-col gap-y-3 lg:w-[40%] items-center text-center">
					<p class="font-medium uppercase text-accent">request a callback</p>
					<p class="text-5xl font-bold text-secondary">
						Let us know about your next buying plan of jute goods
					</p>
				</div>
				<!-- <p class="lg:w-[40%] text-primary px-5 lg:px-0">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
					consectetur, ligula semper sagittis lobortis, eros metus efficitur
					purus
				</p> -->
				<form id="contactForm">
					<div class="flex flex-col w-full px-5 lg:w-3/4 lg:px-0 gap-y-5">
						<div class="grid gap-y-10 lg:grid-cols-2 gap-x-5">
							<input
								class="input input-lg input-bordered"
								type="text"
								placeholder="Name"
								name="name"
								required
							/>
							<input
								class="input input-lg input-bordered"
								type="email"
								placeholder="Email address"
								name="email"
								required
							/>
						</div>
						<div class="grid gap-y-10 lg:grid-cols-2 gap-x-5">
							<input
								class="input input-lg input-bordered"
								type="phone"
								placeholder="Phone"
								name="phoneNumber"
								required
							/>
							<select id="category" name="category" class="font-normal select select-lg select-bordered">
								<% for(let dropdown of contactDropdown){ %>
									<option value="<%= dropdown.name %>"><%= dropdown.name %></option>
								<% } %>
							</select>
						</div>
						<textarea
								class="textarea textarea-lg h-36 input-bordered"
								placeholder="Your message"
								name="message"
								required
							></textarea>
						<button type="submit"
							class="lg:self-center self-start border-0 px-16 text-white normal-case btn btn-lg bg-gradient-to-r from-[#1B8900] to-[#65A184]"
						>
							Submit
						</button>
					</div>
				</form>
			</div>
		</div>
		<!-- <div
			class="container grid items-center w-full grid-cols-2 px-5 py-10 mx-auto gap-x-10 gap-y-10 lg:gap-x-0 xl:gap-y-0 lg:px-0 lg:grid-cols-6"
		>
			<img src="./img/freedombird.png" alt="" />
			<img src="./img/ident.png" alt="" />
			<img src="./img/natural.png" alt="" />
			<img src="./img/simpleaf.png" alt="" />
			<img src="./img/globe.png" alt="" />
			<img src="./img/fossilgroup.png" alt="" />
		</div> -->

		<a href="https://wa.me/<%= heroBanner[0].whatsappNumber %>" class="chatbot-button" target="_blank">
			<i class="text-xl bi bi-whatsapp" style="font-size: 28px;"></i>
		</a>

		<!-- footer section -->
		<%- include('./partials/footer.ejs') %>
		<script>
			getFooterInfo()
			getFooterSocialMedia()
			postContactForm()
		</script>
		<script>
			// Get the exportRate value from your data source
			var exportRate = basicInfo[0].exportRate;
		
			// Get the elements you want to manipulate
			var bgAccent = document.getElementById('bg-accent');
			var exportRateText = document.getElementById('exportRateText');
		
			// Add or remove the 'bg-accent' class based on the exportRate value
			if (exportRate >= someThreshold) {
				bgAccent.classList.add('bg-accent');
			} else {
				bgAccent.classList.remove('bg-accent');
			}
		</script>
	</body>
</html>