<%- include('./partials/homeHeader.ejs') %>

				<!-- home hero section -->
				<div
					class="flex-grow flex flex-col justify-center items-center self-center pt-[-100px]"
				>
					<div
						class="lg:px-0 flex lg:text-left text-center flex-col items-center gap-y-5 lg:translate-y-[-30%]"
					>
						<h1
							class="font-bold text-center text-7xl xl:text-8xl"
						>
							<%= heroBanner[0].heroBannerText %>
						</h1>
						<p
							class="w-3/4 text-5xl font-bold text-center xl:text-6xl text-base-100"
						>
						<%= heroBanner[0].heroBannerSubtext %>
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- mission, vision section -->
		<div
			class="container grid px-5 mx-auto mt-20 gap-y-10 lg:px-0 lg:grid-cols-3 gap-x-40"
		>
			<div class="relative flex flex-col gap-y-4 mv-card">
				<img src="./img/about-us-hero.png" alt="" />
				<div class="flex flex-col p-4 gap-y-4">
					<div class="flex items-center gap-x-3">
						<img src="./img/about-us-icon.png" alt="" srcset="" />
						<h2 class="text-2xl font-semibold text-primary mv-card-header">
							About Us
						</h2>
					</div>
					<p>
						Bonanza Jute is specializing in the production of high-quality jute
						yarn, twine, carpets, tatami mats, rugs, and other floor coverings.
					</p>
					<a
						href=""
						class="flex items-center mb-5 font-semibold gap-x-5 hover:underline read-more"
						>Read more <i class="text-xl bi bi-arrow-right"></i
					></a>
				</div>
				<div class="absolute bottom-0 w-full h-1">
					<div class="w-full h-1 border relative bg-[#9E9E9E] bottom-border">
						<span
							class="absolute top-0 left-0 w-0 h-full duration-150 origin-center bg-secondary"
						></span>
					</div>
				</div>
			</div>
			<div class="relative flex flex-col gap-y-4 mv-card">
				<img src="./img/our-vision-hero.png" alt="" />
				<div class="flex flex-col p-4 gap-y-4">
					<div class="flex items-center gap-x-3">
						<img src="./img/vision-icon.png" alt="" srcset="" />
						<h2 class="text-2xl font-semibold mv-card-header text-primary">
							Our Vision
						</h2>
					</div>
					<p>
						To be the unrivalled market leader in USA & Europe for superior jute
						products.
					</p>
					<a
						href=""
						class="flex items-center mb-5 font-semibold gap-x-5 hover:underline read-more"
						>Read more <i class="text-xl bi bi-arrow-right"></i
					></a>
				</div>
				<div class="absolute bottom-0 w-full h-1">
					<div class="w-full h-1 border relative bg-[#9E9E9E] bottom-border">
						<span
							class="absolute top-0 left-0 w-0 h-full duration-150 origin-center bg-secondary"
						></span>
					</div>
				</div>
			</div>
			<div class="relative flex flex-col gap-y-4 mv-card">
				<img src="./img/our-mission-hero.png" alt="" />
				<div class="flex flex-col p-4 gap-y-4">
					<div class="flex items-center gap-x-3">
						<img src="./img/mision-icon.png" alt="" srcset="" />
						<h2 class="text-2xl font-semibold mv-card-header text-primary">
							Our Mission
						</h2>
					</div>
					<p>
						Leading the jute industry by producing high-quality, sustainable
						products that exceed customer expectations.
					</p>
					<a
						href=""
						class="flex items-center mb-5 font-semibold gap-x-5 hover:underline read-more"
						>Read more <i class="text-xl bi bi-arrow-right"></i
					></a>
				</div>
				<div class="absolute bottom-0 w-full h-1">
					<div class="w-full h-1 border relative bg-[#9E9E9E] bottom-border">
						<span
							class="absolute top-0 left-0 w-0 h-full duration-150 origin-center bg-secondary"
						></span>
					</div>
				</div>
			</div>
		</div>

		<!-- our services section -->
		<div
			class="container grid px-5 mx-auto mt-20 gap-y-10 lg:px-0 lg:grid-cols-2"
		>
			<div class="flex flex-col justify-center gap-y-5">
				<div class="flex flex-col">
					<p class="font-bold uppercase text-secondary">our services</p>
					<h2 class="text-4xl font-bold text-primary">Industries We Serve</h2>
				</div>
				<div class="flex flex-col lg:w-3/4">
					<p class="text-xl italic capitalize">
						commitment to delivering high-quality jute products and becoming a
						dominant player in the target markets
					</p>
					<p>
						We produce jute yarn and twine, of various qualities, spun with
						great care for Carpets. Our yarns replaced the Dundee quality yarn
						and have been used in the high-speed CRM, CRT, and CRX looms. We
						also specialize in producing sized, coated, and dyed Tatami Mats,
						Rugs, and other floor-coverings for agricultural use.
					</p>
					<div class="grid mt-5 lg:grid-cols-2 gap-x-10">
						<div class="flex flex-col">
							<h2 class="flex items-center font-bold">
								<i class="text-3xl bi bi-dot text-secondary"></i>
								Who we are
							</h2>
							<p>
								M.H Golden Jute is a trusted name in the jute industry,
								specializing in premium-quality jute products.
							</p>
						</div>
						<div class="flex flex-col">
							<h2 class="flex items-center font-bold">
								<i class="text-3xl bi bi-dot text-secondary"></i>
								Our mission
							</h2>
							<p>
								Our mission is to deliver exceptional jute products while
								maintaining vertical integration and creative capabilities.
							</p>
						</div>
					</div>
				</div>
				<a
					href=""
					class="flex items-center mt-5 font-bold gap-x-2 hover:underline"
					>Read our story <i class="bi bi-arrow-right text-primary"></i
				></a>
			</div>
			<div class="flex justify-end">
				<img src="./img/services-bg.png" class="" />
			</div>
		</div>

		<!-- Benefits section -->
		<div class="bg-[#F7F7F7]">
			<div
				class="container grid px-5 py-10 mx-auto lg:px-0 lg:grid-cols-3 gap-x-20 gap-y-10"
			>
				<div
					class="flex gap-x-5 text-secondary bg-base-100 p-5 rounded-lg hover:bg-gradient-to-br duration-150 hover:text-white from-[#1b8900] to-[#65a184]"
				>
					<i class="text-5xl bi bi-house-gear"></i>
					<div class="flex flex-col gap-y-3">
						<h2 class="text-2xl font-bold">Home Decor</h2>
						<p>
							Jute products like carpets, rugs, mats, and furnishings can be
							used to enhance the aesthetics of homes, hotels, and other
							interior spaces.
						</p>
					</div>
				</div>

				<div
					class="flex gap-x-5 text-secondary bg-base-100 p-5 rounded-lg hover:bg-gradient-to-br duration-150 hover:text-white from-[#1b8900] to-[#65a184]"
				>
					<i class="text-5xl bi bi-egg-fried"></i>
					<div class="flex flex-col gap-y-3">
						<h2 class="text-2xl font-bold">Agriculture</h2>
						<p>
							Jute twine and yarn can be used for various agricultural purposes
							such as tying plants, bundling crops, and creating support
							structures for gardening.
						</p>
					</div>
				</div>

				<div
					class="flex gap-x-5 text-secondary bg-base-100 p-5 rounded-lg hover:bg-gradient-to-br duration-150 hover:text-white from-[#1b8900] to-[#65a184]"
				>
					<i class="text-5xl bi bi-box-seam"></i>
					<div class="flex flex-col gap-y-3">
						<h2 class="text-2xl font-bold">Packaging</h2>
						<p>
							Jute bags and sacks are commonly used for packaging a wide range
							of products, including grains, pulses, coffee, cocoa, and other
							commodities.
						</p>
					</div>
				</div>

				<div
					class="flex gap-x-5 text-secondary bg-base-100 p-5 rounded-lg hover:bg-gradient-to-br duration-150 hover:text-white from-[#1b8900] to-[#65a184]"
				>
					<i class="text-5xl bi bi-yelp"></i>
					<div class="flex flex-col gap-y-3">
						<h2 class="text-2xl font-bold">Textiles</h2>
						<p>
							Jute textiles can be used in the production of various items such
							as curtains, upholstery, drapes, table runners, and wall hangings.
						</p>
					</div>
				</div>

				<div
					class="flex gap-x-5 text-secondary bg-base-100 p-5 rounded-lg hover:bg-gradient-to-br duration-150 hover:text-white from-[#1b8900] to-[#65a184]"
				>
					<i class="text-5xl bi bi-person-bounding-box"></i>
					<div class="flex flex-col gap-y-3">
						<h2 class="text-2xl font-bold">Fashion and Apparel</h2>
						<p>
							Jute can be blended with other fibers or used in its pure form to
							create fashionable clothing items, accessories, and footwear.
						</p>
					</div>
				</div>

				<div
					class="flex gap-x-5 text-secondary bg-base-100 p-5 rounded-lg hover:bg-gradient-to-br duration-150 hover:text-white from-[#1b8900] to-[#65a184]"
				>
					<i class="text-5xl bi bi-file-earmark-text"></i>
					<div class="flex flex-col gap-y-3">
						<h2 class="text-2xl font-bold">Handicrafts</h2>
						<p>
							Jute can be blended with other fibers or used in its pure form to
							create fashionable clothing items, accessories, and footwear.
						</p>
					</div>
				</div>

				<div
					class="flex gap-x-5 text-secondary bg-base-100 p-5 rounded-lg hover:bg-gradient-to-br duration-150 hover:text-white from-[#1b8900] to-[#65a184]"
				>
					<i class="text-5xl bi bi-cast"></i>
					<div class="flex flex-col gap-y-3">
						<h2 class="text-2xl font-bold">Furnishings</h2>
						<p>
							Jute furnishings like cushions, pillows, and throws can add a
							touch of natural elegance to home and office spaces.
						</p>
					</div>
				</div>

				<div
					class="flex gap-x-5 text-secondary bg-base-100 p-5 rounded-lg hover:bg-gradient-to-br duration-150 hover:text-white from-[#1b8900] to-[#65a184]"
				>
					<i class="text-5xl bi bi-building"></i>
					<div class="flex flex-col gap-y-3">
						<h2 class="text-2xl font-bold">Industrial Applications</h2>
						<p>
							Jute finds applications in various industries for manufacturing
							industrial goods such as geotextiles, filters, hoses, ropes, nets,
							and insulation materials.
						</p>
					</div>
				</div>

				<div
					class="flex gap-x-5 text-secondary bg-base-100 p-5 rounded-lg hover:bg-gradient-to-br duration-150 hover:text-white from-[#1b8900] to-[#65a184]"
				>
					<i class="text-5xl bi bi-cone-striped"></i>
					<div class="flex flex-col gap-y-3">
						<h2 class="text-2xl font-bold">Constructions</h2>
						<p>
							Jute-based construction materials provide sustainable and
							eco-friendly solutions for building projects.
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Quality section -->
		<div
			class="min-h-[60vh] h-fit w-full py-5"
			style="background: url('./img/Bg.png'); background-size: cover"
			
		>
			<div class="container mx-auto grid min-h-[60vh] h-fit lg:grid-cols-2">
				<div class=""></div>
				<div
					class="flex flex-col items-center justify-center h-full px-5 gap-y-7 lg:px-0"
				>
					<h2 class="text-5xl font-bold text-white lg:text-7xl">
						Quality makes the belief for
						<span
							class="bg-gradient-to-r from-accent to-white"
							style="
								background-clip: text;
								-webkit-background-clip: text;
								color: transparent;
							"
						>
							customers</span
						>.
					</h2>
					<p class="text-white">
						At Bonanza Jute Composite & Diverse Factory Ltd., we are driven by a
						passion for excellence and a commitment to sustainability. We invite
						you to explore our exceptional range of jute products and experience
						the unmatched quality and craftsmanship that sets us apart. Join us
						in our journey towards a greener and more sustainable future.
					</p>
					<div class="flex items-center self-start mt-5 text-white gap-x-7" >
						<div class="p-2 border rounded-full border-[rgba(255,255,255,0.3)]">
							<div class="relative p-3 border rounded-full">
								<div class="rounded-full bg-accent">
									<i class="text-6xl text-white bi bi-play-circle-fill"></i>
								</div>
							</div>
						</div>
						<p>Watch video</p>
						<!-- <button id="myButton" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Open Modal</button> -->
						
					</div>
				</div>
			</div>
		</div>
		<div
			class="container grid items-center w-full grid-cols-2 px-5 py-10 mx-auto gap-x-10 gap-y-10 lg:gap-x-0 xl:gap-y-0 lg:px-0 lg:grid-cols-6"
		>
			<img src="./img/freedombird.png" alt="" />
			<img src="./img/ident.png" alt="" />
			<img src="./img/natural.png" alt="" />
			<img src="./img/simpleaf.png" alt="" />
			<img src="./img/globe.png" alt="" />
			<img src="./img/fossilgroup.png" alt="" />
		</div>

		<!-- Products section -->
		<div
			class="container grid px-5 mx-auto mt-20 lg:px-0 lg:grid-cols-3 gap-y-16 gap-x-20"
		>
			<div class="relative flex flex-col product">
				<span
					class="absolute bg-[#C3F5AB] top-0 left-0 flex flex-col items-center p-3 duration-150 rounded-lg amount"
				>
					<p class="font-bold">10</p>
					<p class="font-semibold uppercase">yarn</p>
				</span>
				<img src="./img/product-01.png" />
				<div class="flex flex-col p-5 duration-150 px-7 gap-y-3 details">
					<p>13 metric ton</p>
					<p class="text-2xl font-bold">
						Top Quality 100% Natural Jute Fiber Yarn Twine
					</p>
					<p class="cursor-pointer hover:underline">Read more</p>
				</div>
			</div>

			<div class="relative flex flex-col product">
				<span
					class="absolute bg-[#C3F5AB] top-0 left-0 flex flex-col items-center p-3 duration-150 rounded-lg amount"
				>
					<p class="font-bold">10</p>
					<p class="font-semibold uppercase">yarn</p>
				</span>
				<img src="./img/product-02.png" />
				<div class="flex flex-col p-5 duration-150 px-7 gap-y-3 details">
					<p>13 metric ton</p>
					<p class="text-2xl font-bold">
						Top Quality 100% Natural Jute Fiber Yarn Twine
					</p>
					<p class="cursor-pointer hover:underline">Read more</p>
				</div>
			</div>

			<div class="relative flex flex-col product">
				<span
					class="absolute bg-[#C3F5AB] top-0 left-0 flex flex-col items-center p-3 duration-150 rounded-lg amount"
				>
					<p class="font-bold">10</p>
					<p class="font-semibold uppercase">yarn</p>
				</span>
				<img src="./img/product-03.png" />
				<div class="flex flex-col p-5 duration-150 px-7 gap-y-3 details">
					<p>13 metric ton</p>
					<p class="text-2xl font-bold">
						Top Quality 100% Natural Jute Fiber Yarn Twine
					</p>
					<p class="cursor-pointer hover:underline">Read more</p>
				</div>
			</div>

			<div class="relative flex flex-col product">
				<span
					class="absolute bg-[#C3F5AB] top-0 left-0 flex flex-col items-center p-3 duration-150 rounded-lg amount"
				>
					<p class="font-bold">10</p>
					<p class="font-semibold uppercase">yarn</p>
				</span>
				<img src="./img/product-04.png" />
				<div class="flex flex-col p-5 duration-150 px-7 gap-y-3 details">
					<p>13 metric ton</p>
					<p class="text-2xl font-bold">
						Top Quality 100% Natural Jute Fiber Yarn Twine
					</p>
					<p class="cursor-pointer hover:underline">Read more</p>
				</div>
			</div>

			<div class="relative flex flex-col product">
				<span
					class="absolute bg-[#C3F5AB] top-0 left-0 flex flex-col items-center p-3 duration-150 rounded-lg amount"
				>
					<p class="font-bold">10</p>
					<p class="font-semibold uppercase">yarn</p>
				</span>
				<img src="./img/product-05.png" />
				<div class="flex flex-col p-5 duration-150 px-7 gap-y-3 details">
					<p>13 metric ton</p>
					<p class="text-2xl font-bold">
						Top Quality 100% Natural Jute Fiber Yarn Twine
					</p>
					<p class="cursor-pointer hover:underline">Read more</p>
				</div>
			</div>

			<div class="relative flex flex-col product">
				<span
					class="absolute bg-[#C3F5AB] top-0 left-0 flex flex-col items-center p-3 duration-150 rounded-lg amount"
				>
					<p class="font-bold">10</p>
					<p class="font-semibold uppercase">yarn</p>
				</span>
				<img src="./img/product-06.png" />
				<div class="flex flex-col p-5 duration-150 px-7 gap-y-3 details">
					<p>13 metric ton</p>
					<p class="text-2xl font-bold">
						Top Quality 100% Natural Jute Fiber Yarn Twine
					</p>
					<p class="cursor-pointer hover:underline">Read more</p>
				</div>
			</div>
		</div>

		<!-- Our service and contact section -->
		<div
			class="w-full min-h-screen py-5 mt-20"
			style="background: url('./img/contact-bg.png'); background-size: cover"
		>
			<div class="container grid min-h-screen mx-auto lg:grid-cols-2">
				<div class=""></div>
				<div
					class="flex flex-col justify-center h-full gap-y-7 lg:w-[90%] px-5 lg:px-0"
				>
					<p class="text-white uppercase">our services</p>
					<h2 class="text-5xl font-bold text-white">
						Let's talk about improving your business marketing
					</h2>
					<p class="text-white">
						If you have any issues or concerns about the service, please call
						0123. 456. 789 or email to hello@support.com we will contact you
						shortly after receiving your request.
					</p>
					<form id="contactForm">
						<div class="flex flex-col gap-y-5">
							<div class="grid gap-y-5 lg:grid-cols-2 gap-x-5">
								<input
									class="input input-border input-lg"
									type="text"
									placeholder="Name"
									name="name"
									required
								/>
								<input
									class="input input-border input-lg"
									type="email"
									placeholder="Email Address",
									name="email"
									required
								/>
								<input
									class="input input-border input-lg"
									type="number"
									placeholder="Phone Number",
									name="phoneNumber"
									required
								/>
							</div>
							<select id="category" name="category" class="font-normal select select-lg select-bordered">
								<% for(let dropdown of contactDropdown){ %>
									<option value="<%= dropdown.name %>"><%= dropdown.name %></option>
								<% } %>
								
							</select>
							<textarea
								class="textarea textarea-lg h-36"
								placeholder="Your message"
								name="message"
								required
							></textarea>
							<button type="submit"
								class="self-start border-0 px-16 hover:text-white normal-case btn btn-lg text-black duration-150 hover:bg-gradient-to-r from-[#1B8900] to-[#65A184]"
							>
								Submit
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!-- testimonials section -->
		<div
			class="container flex flex-col items-center justify-center mx-auto mt-20 gap-y-36 min-h-[90vh] mb-20 lg:mb-0"
		>
			<div class="flex flex-col text-center">
				<p class="font-bold uppercase text-accent">Testimonials</p>
				<h2 class="text-5xl text-[#4F5955] font-bold">We love our clients</h2>
			</div>
			<div class="grid px-5 lg:px-0 gap-y-20 lg:grid-cols-3 gap-x-20">
				<% for(let testimonial of testimonials){ %>
				<div class="flex flex-col duration-150 border rounded-xl client">
					<img src="<%= testimonial.image %>" class="w-28 self-center translate-y-[-50%]" alt="image"/>

					<div
						class="flex flex-col translate-y-[-40%] w-3/4 items-center self-center"
					>
						<div
							class="flex flex-col items-center w-full py-5 text-center duration-150 border-b client-name"
						>
							<h2 class="text-xl font-medium"><%= testimonial.name %></h2>
							<p>From: <%= testimonial.location %></p>
						</div>
						<div class="mt-5 text-center">
							<%= testimonial.text %>
						</div>
					</div>
				</div>
				<% } %>
			</div>
		</div>

		
		<!-- footer section -->
		<%- include('./partials/footer.ejs') %>
		
		
		<script>
			getFooterInfo()
			postContactForm()
		</script>

	

		

	</body>
</html>
