<%- include('./partials/header.ejs') %>

		<!-- Hero section -->
		<div
			class="h-[35vh]"
			style="background: url('./img/ourProductHeroBg.png')"
		>
			<div
				class="container flex flex-col items-center justify-center h-full mx-auto text-white gap-y-5"
			>
				<h2 class="text-5xl font-bold">Our Product</h2>
				<div class="text-sm breadcrumbs">
					<ul>
						<li><a href="/">Home</a></li>
						<li class="font-medium">Our Product</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- Product section -->
		<div
			class="container flex flex-col min-h-screen px-5 mt-20 gap-y-20 lg:flex-row gap-x-20 lg:px-0"
		>
		
			<div class="flex relative flex-col gap-y-7 lg:w-[20%]">
				<p class="text-xl font-bold">Product Categories</p>
				
				
				<div class="flex flex-col gap-y-2">
					<p onclick="displayProducts('all')"
						class="flex items-center p-4 font-semibold duration-150 rounded-lg cursor-pointer hover:product-sidebar-link-active product-sidebar-link-active gap-x-3"
					  >
						<i class="bi bi-arrow-right-circle"></i>
						All
					  </p>
					<% for (let category of categories) { %>
					<div class="category-container"
					  onmouseover="showSubcategories('<%= category.category_id %>')"
					  onmouseout="hideSubcategories('<%= category.category_id %>')"
					>

					  <p onclick="displayProducts('<%= category.category_id %>')"
						class="flex items-center p-4 font-semibold duration-150 rounded-lg cursor-pointer hover:product-sidebar-link-active product-sidebar-link-active gap-x-3"
					  >
						<i class="bi bi-arrow-right-circle"></i>
						<%= category.category_name %>
					  </p>
					  <ul class="list-none pl-4 hidden" id="subcategory-list-<%= category.category_id %>">
						<% for (let subcategory of category.subcategories) { %>
						<li class="py-2">
						  <div style="margin-left: 30px;" class="flex items-center p-3 font-semibold duration-150 rounded-lg cursor-pointer hover:product-sidebar-link-active product-sidebar-link-active gap-x-3">
							<p onclick="displaySubcategoryProducts('<%= subcategory.subcategory_id %>')"><%= subcategory.subcategory_name %></p> 
						  </div>
						</li>
						<% } %>
					  </ul>
					</div>
					<% } %>
				  </div>
				  

				  

				<div
					class=" bottom-0 flex-col self-end hidden w-full px-5 py-8 text-white rounded-lg lg:flex justify-self-end gap-y-4 h-fit"
					style="
						background: url('./img/Group-1.png');
						background-size: cover;
						
					"
				>
					<p class="text-xl font-bold">How can we help you</p>
					<p>online support 24/7, we are here to help you</p>
					<div class="relative">
						<input
							type="email"
							class="text-black input input-bordered"
							placeholder="Email address"
						/>
						<span
							class="absolute top-[50%] z-[100] translate-y-[-50%] right-[6%]"
							><button
								class="text-xl z-[100] bg-transparent border-0 btn text-secondary"
							>
								<i class="bi bi-envelope z-[100]"></i></button
						></span>
					</div>
				</div>
			</div>
			
			<div id="productList" class="grid lg:grid-cols-3 gap-20 px-5 lg:w-[80%]">
				



				<!-- <div class="flex flex-col gap-y-4">
					<img src="./img/product-1.png" />
					<p class="font-semibold">
						High Quality Comfortable 100% Natural Wholesale Cheap
						price Jute Hessian Sacking Bag.
					</p>
					<div class="flex justify-between">
						<p class="flex text-primary gap-x-2">
							<i class="bi bi-folder"></i>Jute Twine
						</p>
						<a
							href="/productDetails"
							class="font-bold text-secondary"
							>Details</a
						>
					</div>
				</div> -->
				
				<!-- <div id="productList"></div> -->

				
			</div>
		</div>

		<!-- Video section -->
		<div class="container relative flex justify-center px-5 mt-36 lg:px-0">
			<iframe width="980" height="420"src="<%= basicInfo[0].videoProductPage %>"></iframe>
			<!-- <span
				class="absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] lg:text-8xl text-6xl text-white"
			>
				<i class="cursor-pointer bi bi-play-fill"></i
			></span> -->
		</div>

		<!-- success story section -->
		<div
			class="mt-36"
			style="
				background: url('./img/products-bg-2.png');
				background-size: cover;
			"
		>
			<div
				class="container flex flex-col items-center px-5 py-20 text-center text-white lg:p-x-0 gap-y-20"
			>
				<div class="flex flex-col">
					<p class="text-sm font-medium uppercase">numbers speak</p>
					<p class="text-5xl font-bold">Success story</p>
				</div>
				<div class="grid gap-y-10 lg:grid-cols-3 gap-x-20">
					<div class="flex flex-col">
						<p class="text-5xl font-bold lg:text-8xl"><%= basicInfo[0].responseRate %></p>
						<p class="font-medium">Response rate</p>
					</div>

					<div class="flex flex-col">
						<p class="text-5xl font-bold lg:text-8xl"><%= basicInfo[0].responseTime %></p>
						<p class="font-medium">Response time</p>
					</div>

					<div class="flex flex-col">
						<p class="text-5xl font-bold lg:text-8xl"><%= basicInfo[0].quotationPerformance %></p>
						<p class="font-medium">Quotation Perfomance</p>
					</div>
				</div>
			</div>
		</div>

		<!-- footer section -->
		<%- include('./partials/footer.ejs') %>
		<script>
			getFooterInfo()
			
		</script>
		<script>
			function showSubcategories(categoryId) {
			const subcategoryList = document.getElementById(`subcategory-list-${categoryId}`);
			subcategoryList.classList.remove('hidden');
			}
		
			function hideSubcategories(categoryId) {
			const subcategoryList = document.getElementById(`subcategory-list-${categoryId}`);
			subcategoryList.classList.add('hidden');
			}
		</script>

		<!-- for category -->
		<script>
			async function fetchProducts() {
			try {
				const response = await fetch('/api/client/products'); // Replace '/api/products' with your API endpoint
				const data = await response.json();
				return data;
			} catch (error) {
				console.error('Error fetching products:', error);
				return [];
			}
			}
		
			async function displayProducts(selectedCategory) {
				
			const productListContainer = document.getElementById('productList');
			productListContainer.innerHTML = '';
		
			try {
				const products = await fetchProducts();
				const filteredProducts = selectedCategory === 'all'
				? products // Show all products when 'All Subcategories' is selected
				: products.filter(product => product.cat_id == selectedCategory);
		
				filteredProducts.forEach(product => {
					const productDiv = document.createElement('div');
						productDiv.classList.add('flex', 'flex-col', 'gap-y-4');

						const productImage = document.createElement('img');
						productImage.setAttribute('src', product.images[0].image);

						const productDescription = document.createElement('p');
						productDescription.classList.add('font-semibold');
						productDescription.textContent = product.product_name;

						const productCategory = document.createElement('p');
						productCategory.classList.add('flex', 'text-primary', 'gap-x-2');
						productCategory.innerHTML = `<i class="bi bi-folder"></i>${product.category_name}`;

						const productDetailsLink = document.createElement('a');
						productDetailsLink.classList.add('font-bold', 'text-secondary');
						productDetailsLink.setAttribute('href', `/ourProduct/details/${product.id}`);
						productDetailsLink.textContent = 'Details';

						const myDiv=document.createElement('div')
						myDiv.classList.add('flex', 'justify-between')
						myDiv.appendChild(productCategory)
						myDiv.appendChild(productDetailsLink)

						// Append the elements to the productDiv
						productDiv.appendChild(productImage);
						productDiv.appendChild(productDescription);
						productDiv.appendChild(myDiv);
						//productDiv.appendChild(productDetailsLink);

						// Append the productDiv to the productListContainer
						productListContainer.appendChild(productDiv);
				});
			} catch (error) {
				console.error('Error displaying products:', error);
			}
			}
		
			// function toggleSubcategories(categoryId) {
			// const subcategoryList = document.getElementById(`subcategory-list-${categoryId}`);
			// subcategoryList.classList.toggle('hidden');
			// }
		
			// Initial display with all products
			displayProducts('all');
		</script>



		<!-- for sub category -->

		<script>
			async function fetchProducts() {
			try {
				const response = await fetch('/api/client/products'); // Replace '/api/products' with your API endpoint
				const data = await response.json();
				return data;
			} catch (error) {
				console.error('Error fetching products:', error);
				return [];
			}
			}

			async function displaySubcategoryProducts(selectedSubCategory) {
				
			const productListContainer = document.getElementById('productList');
			productListContainer.innerHTML = '';

			try {
				const products = await fetchProducts();
				const filteredProducts = selectedSubCategory === 'all'
				? products // Show all products when 'All Subcategories' is selected
				: products.filter(product => product.subCat_id == selectedSubCategory);

				filteredProducts.forEach(product => {
					const productDiv = document.createElement('div');
						productDiv.classList.add('flex', 'flex-col', 'gap-y-4');

						const productImage = document.createElement('img');
						productImage.setAttribute('src', product.images[0].image);

						const productDescription = document.createElement('p');
						productDescription.classList.add('font-semibold');
						productDescription.textContent = product.product_name;

						const productCategory = document.createElement('p');
						productCategory.classList.add('flex', 'text-primary', 'gap-x-2');
						productCategory.innerHTML = `<i class="bi bi-folder"></i>${product.category_name}`;

						const productDetailsLink = document.createElement('a');
						productDetailsLink.classList.add('font-bold', 'text-secondary');
						productDetailsLink.setAttribute('href', `/ourProduct/details/${product.id}`);
						productDetailsLink.textContent = 'Details';

						const myDiv=document.createElement('div')
						myDiv.classList.add('flex', 'justify-between')
						myDiv.appendChild(productCategory)
						myDiv.appendChild(productDetailsLink)

						// Append the elements to the productDiv
						productDiv.appendChild(productImage);
						productDiv.appendChild(productDescription);
						productDiv.appendChild(myDiv);
						//productDiv.appendChild(productDetailsLink);

						// Append the productDiv to the productListContainer
						productListContainer.appendChild(productDiv);
				});
			} catch (error) {
				console.error('Error displaying products:', error);
			}
			}

			// function toggleSubcategories(categoryId) {
			// const subcategoryList = document.getElementById(`subcategory-list-${categoryId}`);
			// subcategoryList.classList.toggle('hidden');
			// }

			// Initial display with all products
		</script>
		

	</body>		
</html>