<%- include('./partials/header.ejs') %>

		<!-- Hero section -->
		<div class="h-[35vh]" style="background: url('./img/teamHeroBg.png')">
			<div
				class="container flex flex-col items-center justify-center h-full mx-auto text-white gap-y-5"
			>
				<h2 class="text-3xl font-bold lg:text-5xl">Our Team</h2>
				<div class="text-sm breadcrumbs">
					<ul>
						<li><a href="/">Home</a></li>
						<li class="font-medium">Our Team</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- team leader section -->
		<div class="container grid px-5 mt-20 gap-y-10 lg:px-0 lg:grid-cols-2">
			<div style="margin: 15px;"><img src="<%= mdInformation[0].image %>" alt="" /></div>
			<div class="flex flex-col gap-y-12">
				<p class="text-3xl font-bold lg:text-4xl text-secondary">
					<%= mdInformation[0].name %>
				</p>
				<p class="text-2xl font-bold text-secondary">
					<%= mdInformation[0].designation %>
				</p>
				<p class="text-primary">
					<%= mdInformation[0].statement %>
				</p>
				<div class="border"></div>
				<div class="flex flex-col w-full lg:w-1/2 gap-y-5">
					<div class="grid-cols-2 lg:grid">
						<p class="font-bold text-secondary">Phone:</p>
						<p><%= mdInformation[0].phoneNumber %></p>
					</div>
					<div class="grid-cols-2 lg:grid">
						<p class="font-bold text-secondary">Email:</p>
						<p><%= mdInformation[0].email %></p>
					</div>
					<div class="grid-cols-2 lg:grid">
						<p class="font-bold text-secondary">Website:</p>
						<p><%= mdInformation[0].website %></p>
					</div>
					<div class="flex mt-5 text-2xl gap-x-7 text-secondary">
						<a href="<%= mdInformation[0].instagram %>" target="_blank"><i class="cursor-pointer bi bi-instagram"></i></a>
						<a href="<%= mdInformation[0].facebook %>" target="_blank"><i class="cursor-pointer bi bi-facebook"></i></a>
						<a href="<%= mdInformation[0].twitter %>" target="_blank"><i class="cursor-pointer bi bi-twitter"></i></a>
					</div>
					<!-- <button
						class="self-start mt-10 font-medium text-white normal-case btn-lg btn btn-secondary"
					>
						Contact Me
					</button> -->
				</div>
			</div>
		</div>

		<!-- Qualification & experience section -->
		<!-- <div class="container flex flex-col px-5 lg:px-0 mt-36 gap-y-10">
			<p class="text-4xl font-bold text-secondary">
				Qualification & Experience
			</p>
			<div class="flex flex-col text-primary gap-y-5">
				<p class="w-[70%]">
					Lorem ipsum dolor sit amet consectetur. Eu egestas ut lectus
					sed pellentesque cras id. Elementum diam interdum laoreet
					nunc sed dictumst. Leo tellus eu diam malesuada congue.
					Aliquam sem a viverra dictum lobortis placerat. Mauris massa
					natoque scelerisque massa pulvinar massa pharetra. Vel
					commodo morbi pellentesque quam pellentesque bibendum. Sit
					id condimentum elit arcu potenti metus malesuada. Auctor
					augue iaculis nisl ut at. Est amet quam cursus enim.
				</p>
				<ol class="flex flex-col gap-y-4">
					<li>1. Listen to what the say about you</li>
					<li>2. Randomised word which</li>
					<li>3. Internet tend to repeat predefined chunks</li>
				</ol>
			</div>
		</div> -->

		<!-- Make real time a day services section -->
		<!-- <div class="container flex flex-col px-5 mt-20 lg:px-0 gap-y-10">
			<p class="text-4xl font-bold text-secondary">
				Make real time a day services
			</p>
			<div class="flex flex-col text-primary gap-y-5">
				<p class="w-[70%]">
					Lorem ipsum dolor sit amet consectetur. Eu egestas ut lectus
					sed pellentesque cras id. Elementum diam interdum laoreet
					nunc sed dictumst. Leo tellus eu diam malesuada congue.
					Aliquam sem a viverra dictum lobortis placerat. Mauris massa
					natoque scelerisque massa pulvinar massa pharetra. Vel
					commodo morbi pellentesque quam pellentesque bibendum. Sit
					id condimentum elit arcu potenti metus malesuada. Auctor
					augue iaculis nisl ut at. Est amet quam cursus enim.
				</p>
				<ol class="flex flex-col gap-y-4">
					<li>1. Listen to what the say about you</li>
					<li>2. Randomised word which</li>
					<li>3. Internet tend to repeat predefined chunks</li>
				</ol>
			</div>
		</div> -->
		<div class="container flex flex-col px-5 mt-20 lg:px-0 gap-y-10"></div>
		
		<!-- Meet our expert section -->
		<div
			class="container flex flex-col items-center px-5 mt-20 mb-40 lg:px-0 lg:mt-0 gap-y-20"
		>
			<div class="flex flex-col items-center text-center gap-y-5">
				<h2 class="text-3xl font-bold lg:text-5xl text-secondary">
					Meet Our Directors
				</h2>
				<!-- <p class="text-primary lg:w-[60%]">
					Pellentesque vehicula eros neque, maximus mattis est
					sagittis Nulla facilisi. In sed pretium metus. Proin pretium
					id urna sit amet tincidunt.
				</p> -->
			</div>
			<div class="grid lg:grid-cols-3 gap-x-36 gap-y-16">
				<% for(let i=0;i<2;i++){ %>
				<div class="flex flex-col border rounded-lg p-7 gap-y-7">
					<img src="<%= teams[i].image %>" alt="" />
					<div class="flex flex-col text-center gap-y-3">
						<p class="text-xl font-bold text-secondary">
							<%= teams[i].name %>
						</p>
						<p class="text-primary"><%= teams[i].designation %></p>
					</div>
				</div>
				<% } %>
			</div>
		</div>

		<!-- Meet our expert section -->
		<div
			class="container flex flex-col items-center px-5 mt-20 mb-40 lg:px-0 lg:mt-0 gap-y-20"
		>
			<div class="flex flex-col items-center text-center gap-y-5">
				<h2 class="text-3xl font-bold lg:text-5xl text-secondary">
					Meet Our Experts
				</h2>
				<!-- <p class="text-primary lg:w-[60%]">
					Pellentesque vehicula eros neque, maximus mattis est
					sagittis Nulla facilisi. In sed pretium metus. Proin pretium
					id urna sit amet tincidunt.
				</p> -->
			</div>
			<div class="grid lg:grid-cols-3 gap-x-36 gap-y-16">
				<% for(let i=2;i<teams.length;i++){ %>
				<div class="flex flex-col border rounded-lg p-7 gap-y-7">
					<img src="<%= teams[i].image %>" alt="" />
					<div class="flex flex-col text-center gap-y-3">
						<p class="text-xl font-bold text-secondary">
							<%= teams[i].name %>
						</p>
						<p class="text-primary"><%= teams[i].designation %></p>
					</div>
				</div>
				<% } %>
			</div>
		</div>

		<a href="https://wa.me/<%= heroBanner[0].whatsappNumber %>" class="chatbot-button" target="_blank">
			<i class="text-xl bi bi-whatsapp" style="font-size: 28px;"></i>
		</a>

		<!-- footer section -->
		<%- include('./partials/footer.ejs') %>
		<script>
			getFooterInfo()
			getFooterSocialMedia()
		</script>
	</body>
</html>