<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />


		<meta property="og:title" content="<%= product.product_name %>" />
        <meta property="og:url" content="https://bonanzajutecomposite.com/ourProduct/details/<%= product.id %>" />
        <meta property="og:site_name" content="Bonanza Jute Composite" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="https://bonanzajutecomposite.com<%= product.images[0].image %>" />

		<link rel="stylesheet" href="/css/output.css" />
		
		<style>
			   table {
      border-collapse: collapse;
      width: 100%;
      border: 1px solid black; /* Set the border style for the table */
    }

    th, td {
      border: 1px solid black; /* Set the border style for table cells */
      padding: 8px; /* Add padding for better readability */
    }
	
	
		</style>
		<style>
			.chatbot-button {
				position: fixed;
			bottom: 20px; /* Adjust the distance from the bottom as needed */
			right: 20px; /* Adjust the distance from the right as needed */
			display: flex;
			align-items: center;
			justify-content: center; /* Center content horizontally and vertically */
			background-color: #25d366; /* WhatsApp green color */
			color: white;
			width: 60px; /* Adjust the width as needed */
			height: 60px; /* Adjust the height as needed */
			border-radius: 50%; /* Rounded shape for chatbot symbol */
			text-decoration: none;
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Optional shadow for depth */
		}

		/* Chat icon style */
		
		</style>
		<script src="/js/singleScript.js"></script>
		<title>Bonanza</title>
			
		
	</head>
	<body>
		<div class="container flex flex-col h-full mx-auto">
			<!-- Navbar -->
			<div class="py-5 navbar">
				<div class="navbar-start">
					<div class="dropdown">
						<label tabindex="0" class="btn btn-ghost lg:hidden">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="w-5 h-5"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M4 6h16M4 12h8m-8 6h16"
								/>
							</svg>
						</label>
						<ul
							tabindex="0"
							class="menu menu-lg font-bold text-lg dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
						>
							<li class="<%= navStatus==="home"?"navlink-active":"" %>">
								<a href="/">Home</a>
							</li>
							<li class="<%= navStatus==="about"?"navlink-active":"" %>">
								<a href="/aboutUs">About Us</a>
							</li>
							<li class="<%= navStatus==="product"?"navlink-active":"" %>"><a href="/ourProduct">Our Product</a></li>
							<li class="<%= navStatus==="team"?"navlink-active":"" %>"><a href="/ourTeam">Our Team</a></li>
							<li class="<%= navStatus==="contact"?"navlink-active":"" %>"><a href="/contactUs">Contact</a></li>
							<li class="<%= navStatus==="enquiry"?"navlink-active":"" %>"><a href="/enquiry">Inquiry</a></li>
						</ul>
					</div>
					<a class="text-xl normal-case"><img src="/img/Logo.png" alt="" /></a>
				</div>
				<div class="hidden navbar-center lg:flex">
					<ul class="px-1 text-lg font-bold menu menu-horizontal gap-x-5">
						<li class="<%= navStatus==="home"?"navlink-active":"" %>">
							<a href="/">Home</a>
						</li>
						<li class="<%= navStatus==="about"?"navlink-active":"" %>">
							<a href="/aboutUs">About Us</a>
						</li>
						<li class="<%= navStatus==="product"?"navlink-active":"" %>"><a href="/ourProduct">Our Product</a></li>
						<li class="<%= navStatus==="team"?"navlink-active":"" %>"><a href="/ourTeam">Our Team</a></li>
						<li class="<%= navStatus==="contact"?"navlink-active":"" %>"><a href="/contactUs">Contact</a></li>
						<li class="<%= navStatus==="enquiry"?"navlink-active":"" %>"><a href="/enquiry">Inquiry</a></li>
					</ul>
					
				</div>
				<div class="flex-col items-center hidden navbar-end lg:flex">
					<p style="font-size: 14px;">WhatsApp for any question</p>
					<p class="text-2xl font-bold text-secondary">+8801750613481</p>
				</div>
			</div>
		</div>

		

		<!-- Hero section -->
		<div
			class="h-[35vh]"
			style="background: url('/img/product-details-bg.png')"
		>
			<div
				class="container flex flex-col items-center justify-center h-full mx-auto text-white gap-y-5"
			>
				<h2 class="text-3xl font-bold lg:text-5xl">Product Details</h2>
				<div class="text-sm breadcrumbs">
					<ul>
						<li><a href="/">Home</a></li>
						<li class="font-medium">Product Details</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- Product section -->
		<div class="container flex flex-col px-5 mt-20 gap-y-16 gap-x-20 lg:px-0">
			<div class="flex flex-col gap-y-10">
				<h2 class="text-3xl">
					<%= product.product_name %>
				</h2>
				<p><strong><%= product.category_name %> <%= product.subcategory_name ?">>"+ product.subcategory_name : "" %></strong></p>
				<!-- <p>
					M.H Golden Jute is a full service vendor with strong vertically
					integrated production facilities as well as creative & analytical
					capabilities which clearly sets us apart from most other South Asian
					vendors. Gain market leadership in high value added Jute Products in
					USA & Europe .Dominate these markets in high quality :1. Jute Bags2.
					Jute Handicrafts3. Jute Textile4. Jute Apparel5. Jute Furnishings6.
					Industrial Jute Goods
				</p> -->
			</div>
			<div class="flex flex-col xl:flex-row gap-x-10">
				<% if(product.video[0].video_id){ %>
					<video controls style="margin-bottom: 10px;" class="w-fit"><source src="<%= product.video[0].video %>" type="video/mp4"></video>
				<% }else{ %>
				<img src="<%= product.images[0].image %>" class="w-fit" alt="" />
				<% } %>
				<div class="flex flex-col gap-y-5">
					<p class="text-2xl font-medium">
						Are you interested? Contact our sales department now
					</p>
					<div class="flex flex-col gap-y-3">
						<!-- <div class="flex gap-x-5">
							<p>
								<i class="text-2xl bi bi-telephone-fill text-secondary"></i>
							</p>
							<div class="flex flex-col">
								<p>Sales Manager</p>
								<p>+028389345934</p>
							</div>
						</div> -->
						<div class="flex gap-x-5">
							<!-- <p>
								<i class="text-2xl bi bi-envelope-open-fill text-secondary"></i>
							</p> -->
							<!-- <div class="flex flex-col">
								<p>Sales Department</p>
								<p>bonanza@gmail.com</p>
							</div> -->
						</div>
					</div>

					<!-- <div class="relative flex mt-10 gap-x-10 p-7">
						<div class="flex flex-col w-1/2 gap-y-2">
							<p class="text-xl font-medium">Let's Plan an Online Meeting</p>
							<p class="flex items-center text-sm text-primary">
								We are Available Now
								<i class="text-2xl text-[#1B8900] bi bi-dot"></i>
							</p>
						</div>
						<img src="/img/calender-icon.png" alt="" class="w-fit h-fit" />
						<span
							class="absolute top-0 left-0 w-full xl:w-[100%] h-full border border-2 border-b-8 border-b border-b-[#499851]"
						></span>
					</div> -->

					<a href="/enquiry" class="self-start mt-10 btn active-tab btn-md">
						Inquiry
					</a>
				</div>
			</div>
		</div>

		<!-- details section -->
		<div class="container flex flex-col px-5 mt-36 mb-36 gap-y-10 lg:px-0">
			<div
				class="flex py-10 overflow-x-auto text-primary gap-x-5 lg:py-0 lg:gap-x-16"
			>
				<a
					class="flex items-center justify-center p-4 py-3 border border-transparent rounded-lg cursor-pointer nav-tab active-tab hover:border-primary"
					data-target="overview"
					>Product Overview</a
				>
				<a
					class="flex items-center justify-center p-4 py-3 border border-transparent rounded-lg cursor-pointer nav-tab hover:border-primary"
					data-target="data"
					>Packaging Details</a
				>
				<a
					class="flex items-center justify-center p-4 py-3 border border-transparent rounded-lg cursor-pointer nav-tab hover:border-primary"
					data-target="applications"
					>Product Details</a
				>
				<a
					class="flex items-center justify-center p-4 py-3 border border-transparent rounded-lg cursor-pointer nav-tab hover:border-primary"
					data-target="gallery"
					>Gallery</a
				>
				<!-- <div
					class="flex items-center self-center px-4 py-2 font-medium bg-transparent border border-transparent cursor-pointer rounded-xl hover:border-primary gap-x-5 justify-self-end"
				>
					<p class="text-black">Download Pdf</p>
					<img src="/img/download-icon.png" alt="" />
				</div> -->
			</div>
			<div class="lg:w-3/4">
				<div class="flex flex-col duration-150 content gap-y-5" id="overview">
					
					<!-- <p>
						We produce jute yarn and twine, of various qualities, spun with
						great care for Carpets. Our yarns replaced the Dundee quality yarn
						and have been being used in the high-speed CRM, CRT, and CRX looms.
						We also specialize in producing sized, coated, dyed Tatami Mats,
						Rugs, and other floor-coverings and for agricultural use. Bonanza
						jute Composite & Diverse factory Ltd.
						<br />
						<br />
						Bonanza jute Composite & Diverse factory Ltd.
					</p> -->
					<!-- <ul class="flex flex-col gap-y-2">
						<li class="flex items-center gap-x-3">
							<i class="text-2xl bi bi-check text-accent"></i>
							<p>1 pc/polybag</p>
						</li>
						<li class="flex items-center gap-x-3">
							<i class="text-2xl bi bi-check text-accent"></i>
							<p>Pallet Packaging</p>
						</li>
						<li class="flex items-center gap-x-3">
							<i class="text-2xl bi bi-check text-accent"></i>
							<p>Paper Spool</p>
						</li>
						<li class="flex items-center gap-x-3">
							<i class="text-2xl bi bi-check text-accent"></i>
							<p>Truss Packaging</p>
						</li>
						<li class="flex items-center gap-x-3">
							<i class="text-2xl bi bi-check text-accent"></i>
							<p>As per buyer requirement</p>
						</li>
						<li class="flex items-center gap-x-3">
							<i class="text-2xl bi bi-check text-accent"></i>
							<p>As per buyer requirement</p>
						</li>
					</ul> -->
					
					<p>Product Model: <strong><%= product.product_model %></strong></p>
					<p>FOB Price: <strong><%= product.fob_price %></strong></p>
					<p>Min Order Quantity: <strong><%= product.min_order_quentity %></strong></p>
					<p>Supply Ability: <strong><%= product.suppy_ability %></strong></p>
					<p>Procession Time: <strong><%= product.processing_time %></strong></p>
					
				
				</div>

				<div
					class="flex flex-col hidden duration-150 content gap-y-5"
					id="data"
				>
					<!-- <h4 class="text-2xl text-secondary">Data</h4> -->
					<p>
						<%- product.packaging_details %>
					</p>
				</div>

				<div
					class="flex flex-col hidden duration-150 content gap-y-5"
					id="applications"
				>
					<!-- <h4 class="text-2xl text-secondary">Applications</h4> -->
					<p>
						<%- product.product_details %>
					</p>
				</div>

				<div
					class="flex flex-col hidden duration-150 content gap-y-5"
					id="gallery"
				>
					<h4 class="text-2xl text-secondary">Gallery</h4>
					<% for(let image of product.images){ %>
						<img src="<%= image.image %>" class="w-fit h-fit" alt="">
						<% } %>
				</div>
			</div>
		</div>

		<a href="https://wa.me/<%= heroBanner[0].whatsappNumber %>" class="chatbot-button" target="_blank">
			<i class="text-xl bi bi-whatsapp" style="font-size: 28px;"></i>
		</a>

		<script>
			const tabs = document.querySelectorAll('.nav-tab');
			const contents = document.querySelectorAll('.content');
			tabs.forEach((t) => {
				t.addEventListener('click', (e) => {
					e.preventDefault();
					tabs.forEach((t) => t.classList.remove('active-tab'));
					e.target.classList.add('active-tab');

					contents.forEach((ct) => {
						ct.classList.add('hidden');
						if (ct.id === e.target.dataset.target)
							ct.classList.remove('hidden');
					});
				});
			});
		</script>

		<!-- footer section -->
		<%- include('./partials/footer.ejs') %>
		<script>
			getFooterInfo()
			getFooterSocialMedia()
		</script>
	</body>
</html>