<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/output.css" />
		
		<style>
			   table {
      border-collapse: collapse;
      width: 100%;
      border: 1px solid black; /* Set the border style for the table */
    }

    th, td {
      border: 1px solid black; /* Set the border style for table cells */
      padding: 8px; /* Add padding for better readability */
    }
	
	
		</style>
				<style>
					.chatbot-button {
						position: fixed;
					bottom: 20px; /* Adjust the distance from the bottom as needed */
					right: 20px; /* Adjust the distance from the right as needed */
					display: flex;
					align-items: center;
					justify-content: center; /* Center content horizontally and vertically */
					background-color: #25d366; /* WhatsApp green color */
					color: white;
					width: 60px; /* Adjust the width as needed */
					height: 60px; /* Adjust the height as needed */
					border-radius: 50%; /* Rounded shape for chatbot symbol */
					text-decoration: none;
					box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Optional shadow for depth */
				}
		
				/* Chat icon style */
				
				</style>
		<script src="/js/singleScript.js"></script>
		<title>Bonanza</title>
			
		
	</head>
	<body>
		<div class="container flex flex-col h-full mx-auto">
			<!-- Navbar -->
			<div class="py-5 navbar">
				<div class="navbar-start">
					<div class="dropdown">
						<label tabindex="0" class="btn btn-ghost lg:hidden">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="w-5 h-5"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M4 6h16M4 12h8m-8 6h16"
								/>
							</svg>
						</label>
						<ul
							tabindex="0"
							class="menu menu-lg font-bold text-lg dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
						>
							<li class="<%= navStatus==="home"?"navlink-active":"" %>">
								<a href="/">Home</a>
							</li>
							<li class="<%= navStatus==="about"?"navlink-active":"" %>">
								<a href="/aboutUs">About Us</a>
							</li>
							<li class="<%= navStatus==="product"?"navlink-active":"" %>"><a href="/ourProduct">Our Product</a></li>
							<li class="<%= navStatus==="team"?"navlink-active":"" %>"><a href="/ourTeam">Our Team</a></li>
							<li class="<%= navStatus==="contact"?"navlink-active":"" %>"><a href="/contactUs">Contact</a></li>
							<li class="<%= navStatus==="enquiry"?"navlink-active":"" %>"><a href="/enquiry">Inquiry</a></li>
						</ul>
					</div>
					<a class="text-xl normal-case"><img src="./img/Logo.png" alt="" /></a>
				</div>
				<div class="hidden navbar-center lg:flex">
					<ul class="px-1 text-lg font-bold menu menu-horizontal gap-x-5">
						<li class="<%= navStatus==="home"?"navlink-active":"" %>">
							<a href="/">Home</a>
						</li>
						<li class="<%= navStatus==="about"?"navlink-active":"" %>">
							<a href="/aboutUs">About Us</a>
						</li>
						<li class="<%= navStatus==="product"?"navlink-active":"" %>"><a href="/ourProduct">Our Product</a></li>
						<li class="<%= navStatus==="team"?"navlink-active":"" %>"><a href="/ourTeam">Our Team</a></li>
						<li class="<%= navStatus==="contact"?"navlink-active":"" %>"><a href="/contactUs">Contact</a></li>
						<li class="<%= navStatus==="enquiry"?"navlink-active":"" %>"><a href="/enquiry">Inquiry</a></li>
					</ul>
					
				</div>
				<div class="flex-col items-center hidden navbar-end lg:flex">
					<p style="font-size: 14px;">WhatsApp for any question</p>
					<p class="text-2xl font-bold text-secondary">+8801750613481</p>
				</div>
			</div>
		</div>

		