<%- include('../partials/navigation.ejs') %>




    <!-- Right Side Section -->
    <div class="ml-auto w-full xl:w-5/6 px-0 xl:px-5 py-2 mt-16 xl:mt-0">


       <!-- Project Overview Header -->

        <section class="flex items-center justify-between px-5 py-2 xl:py-5 gap-4">
            
            <p class="text-lg font-bold text-tColor2">Product Categories</p>

            <!-- Notification & User -->
            <div class="text-xs xl:text-base flex items-center gap-3 xl:gap-5">
                
                <a class="" href="#">
                  <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.9766 12.5883V17.255C20.9766 17.5583 20.9649 17.85 20.9299 18.13C20.6616 21.28 18.8066 22.8433 15.3883 22.8433H14.9216C14.6299 22.8433 14.3499 22.9833 14.1749 23.2167L12.7749 25.0833C12.1566 25.9117 11.1533 25.9117 10.5349 25.0833L9.1349 23.2167C8.98324 23.0183 8.64492 22.8433 8.38825 22.8433H7.9216C4.19993 22.8433 2.33325 21.9217 2.33325 17.255V12.5883C2.33325 9.17001 3.90826 7.31501 7.0466 7.04668C7.3266 7.01168 7.61826 7 7.9216 7H15.3883C19.1099 7 20.9766 8.86668 20.9766 12.5883Z" stroke="#7C7C7C" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M25.6433 7.9216V12.5883C25.6433 16.0183 24.0683 17.8616 20.93 18.1299C20.965 17.8499 20.9766 17.5583 20.9766 17.2549V12.5883C20.9766 8.8666 19.11 6.99992 15.3883 6.99992H7.92163C7.6183 6.99992 7.32663 7.0116 7.04663 7.0466C7.31496 3.90826 9.16996 2.33325 12.5883 2.33325H20.055C23.7766 2.33325 25.6433 4.19993 25.6433 7.9216Z" stroke="#7C7C7C" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M15.7448 15.4583H15.7553" stroke="#7C7C7C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M11.6613 15.4583H11.6718" stroke="#7C7C7C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M7.57808 15.4583H7.58858" stroke="#7C7C7C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    
                </a>

                <a class="" href="#">
                  <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 7.51343V11.3984" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"/>
                    <path d="M14.0232 2.33325C9.72988 2.33325 6.25321 5.80992 6.25321 10.1033V12.5533C6.25321 13.3466 5.92655 14.5366 5.51821 15.2133L4.03655 17.6866C3.12655 19.2149 3.75655 20.9183 5.43655 21.4783C11.0132 23.3333 17.0449 23.3333 22.6215 21.4783C24.1965 20.9533 24.8732 19.1099 24.0215 17.6866L22.5399 15.2133C22.1315 14.5366 21.8049 13.3349 21.8049 12.5533V10.1033C21.7932 5.83325 18.2932 2.33325 14.0232 2.33325Z" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"/>
                    <path d="M17.885 21.9568C17.885 24.0918 16.135 25.8418 14 25.8418C12.9383 25.8418 11.9583 25.3985 11.2583 24.6985C10.5583 23.9985 10.115 23.0185 10.115 21.9568" stroke="black" stroke-width="1.5" stroke-miterlimit="10"/>
                    </svg>
                    
                </a>

            </div>
            
        </section>

      
        <section class="mx-5 rounded-md border-b-2">

          <div class="flex xl:flex-row xl:items-center justify-between py-4 gap-4">

            <!-- Search Box -->
            <div class="bg-white relative shadow">
              <input class="py-2 pr-7 pl-3 focus:outline-none max-w-[180px]" type="text" placeholder="Search...">
              <i class="fa-solid fa-magnifying-glass absolute top-1/2 right-2 -translate-y-1/2 text-tColor"></i>
            </div>

            <a class="flex items-center gap-3 text-tColor border-green-300 hover:bg-primaryColor hover:text-white border-2 rounded px-3 py-1" href="/dashboard/addCategory">
              <p>Add Category</p>
              <i class="fa-solid fa-plus"></i>
            </a>
          </div>
          
        </section>



        <section class="px-5 py-5 grid gap-5">
          <% for (const category of categories) { %>
            <div class="border border-gray-300 rounded-md">
              <div class="flex items-center justify-between xl:justify-start gap-20 bg-gray-100 px-5 py-3 cursor-pointer" onclick="toggleSubcategories(this)">
                <p class="text-tColor2 font-bold text-sm"><%= category.category_name %></p>
                <div class="grid grid-cols-2 xl:flex gap-3">
                  <button class="bg-gray-200 px-4 py-1 rounded">Hide</button>
                  <button class="bg-green-700 text-white px-4 py-1 rounded">Unhide</button>
                  <button class="gradient-color text-white px-4 py-1 rounded xl:ml-10"><a href="/dashboard/editCategory/<%= category.category_id %>">Edit</a></button>
                  <button class="bg-red-800 text-white px-4 py-1 rounded"><a href="/dashboard/category/delete/<%= category.category_id %>">Delete</a></button>
                </div>
              </div>
              <div class="flex flex-wrap gap-3 px-5 py-3 hidden">
                <% for (const subcategory of category.subcategories) { %>
                  <div class="flex items-center gap-3">
                    <p class="text-tColor2 font-bold text-sm"><%= subcategory.subcategory_name %></p>
                    <div class="flex gap-3">
                      <button class="bg-gray-200 px-4 py-1 rounded">Hide</button>
                      <button class="bg-green-700 text-white px-4 py-1 rounded">Unhide</button>
                      <button class="gradient-color text-white px-4 py-1 rounded"><a href="/dashboard/editCategoryt/<%= category.category_id %>">Edit</a></button>
                      <button class="bg-red-800 text-white px-4 py-1 rounded"><a href="/dashboard/subCategory/delete/<%= subcategory.subcategory_id %>">Delete</a></button>
                    </div>
                  </div>
                  
                <% } %>
              </div>
            </div>
          <% } %>
        </section>
        
        
    

    </div>

</section>





<!-- Header Section Script -->
<script> 
  // Menu toggle button 
    const toggleButton = document.getElementById("toggle-button");
    const toggleMenu = document.getElementById("toggle-menu");
    var toggleCounter = 1;
    toggleButton.onclick = function () {
      toggleCounter++;
      if(toggleCounter%2 == 0){
        toggleMenu.classList.remove("hidden");
        toggleMenu.classList.add("grid");
      }
      else{
        toggleMenu.classList.remove("grid");
        toggleMenu.classList.add("hidden");
      }
    }


  </script>


<!-- Accordion Script -->
<script>
  const accordionButtons = document.querySelectorAll('.accordion-button');
  const accordionMenu = document.querySelectorAll('.menu-collapse');

  accordionButtons.forEach(button => {
    button.addEventListener('click', () => {
      const accordionCollapse = button.nextElementSibling;
      button.setAttribute('aria-expanded', button.getAttribute('aria-expanded') === 'false' ? 'true' : 'false');
      accordionCollapse.classList.toggle('hidden');
    });
  });

  // Set all accordion items to collapsed state by default
  document.querySelectorAll('.menu-collapse').forEach(collapse => {
    collapse.classList.add('hidden');
  });


</script>


<!-- Table Script -->
<script>
  const tableButtons = document.querySelectorAll('.table-button');
  const tableMenu = document.querySelectorAll('.table-collapse');
  const tableClose = document.querySelectorAll('.table-close');

  tableButtons.forEach(button => {
    button.addEventListener('click', () => {
      const tableCollapse = button.nextElementSibling;
      button.setAttribute('aria-expanded', button.getAttribute('aria-expanded') === 'false' ? 'true' : 'false');
      tableCollapse.classList.toggle('hidden');
    });
  });

  tableClose.forEach(button => {
    button.addEventListener('click', () => {
      const tableCollapse = button.parentElement.parentElement.parentElement;
      button.setAttribute('aria-expanded', button.getAttribute('aria-expanded') === 'false' ? 'true' : 'false');
      tableCollapse.classList.toggle('hidden');
    });
  });

</script>

<script>
  const tables = document.querySelectorAll('.table-collapse');
  window.onclick = function (event) {
  for (let table of tables){
  if (event.target == table) {
    table.classList.toggle('hidden');
  }
}
};
</script>

<script>
  function toggleSubcategories(element) {
    const subcategorySection = element.nextElementSibling;
    subcategorySection.classList.toggle("hidden");
  }
</script>



</body>
</html>